<div class="list">
  <ul>
    <li><a href="javascript:void(0)">Lavora con noi</a></li>
    <li><a href="javascript:void(0)">Serve aiuto?</a></li>
    <li><a href="javascript:void(0)">Contatti</a></li>
    <li><a href="javascript:void(0)">Cosa dicono di noi</a></li>
    <li><a href="javascript:void(0)">Produttello nel mondo</a></li>
  </ul>
</div>
<div class="rating">
  <div>
    <h6>Ed uscimmo a riveder le stelle...</h6>
  </div>
  <div>
    <span class="fa fa-star" [ngClass]="{'full': thrust>=1}"  data-rating="1"></span>
    <span class="fa fa-star " [ngClass]="{'full': thrust>=2}" data-rating="2"></span>
    <span class="fa fa-star" [ngClass]="{'full': thrust>=3}" data-rating="3"></span>
    <span class="fa fa-star" [ngClass]="{'full': thrust>=4}" data-rating="4"></span>
    <span class="fa fa-star" [ngClass]="{'full': thrust>=5}" data-rating="5"></span>
  </div>
   
  </div>
