<section class="container p-2">

    <div>
        <h1>
            Benvenuto su Produttello, il negozio bello!
        </h1>
        <p>
            In questo sito i sogni di ogni amante della tecnologia diventano realtà.
        </p>
        <p>
            Che stai aspettando? entra anche tu nel magico mondo della Tecnologia, acquista ora da Productello! il negozio bello!
        </p>
    </div>
    <div class="img-text">
        <img src="https://media.meer.com/attachments/43b73a4b4dac478eefecf83519124adddb0432bb/store/fill/1090/613/d32e7018c45222750ae527f02a18dfa9674803a9859de4defd54aa9e106c/Domenico-Petarlini-Dante-Alighieri-in-esilio.jpg" alt="dante deluso">
        <div class="p">
          <p>
            Di fianco, Dante Alighieri, uno dei primi clienti della storica società Produttello*, intento a visionare con cura e stupore, i prodotti che d'alta tecnologia che i nostri avi vendevano!
        </p>  
        <p class="f-05">
            *Produttello è un marchio depositato a partire dal 2004. Nel lontano 1270 la società era chiamata parva productio ( dal latino: piccola produzione).  
        </p>
        </div>
    </div>
</section>